<!--
            =============
              DIRECTIVAS
            =============
      Directivas manejar de manera rapida y efectiva la manipulacion de 
      elementos (variable, iteraciones, recorridos, objects....)
      Diferenciamos 3 tipos de Directivas:
      I] COMPONENTES: Cambios y referencias asignados a los template de html
      II] ESTRUCTURALES: Cambios y referencias de elementos,..  html
      III] ATRIBUTOS : Cambios y comportamientos de estilo referenciados a los elementos
-->

<div class="container">
  <h2 class="display-5">DIRECTIVA ngFor</h2>
  <h5>Todos los alumnos</h5>
  <!--
  Definicion: Dentro de las direcitivas estructurales nos permite realizar
  interaciones y repeticiones sobre el mismo codigo html.
  *Donde adoptará los valores de la iteracion que pertenezcan a una BB.DD, o coleccion
  de datos o variables. La condicion de la repeticion se ajustará a 
  las condiciones que tenga la colección 
  En definitiva, que un recorrido sobre un [] generando elemento en html
  a partir de la condicion del recorrido
  Sintaxis: *ngFor = "let nombre_variable of object"
-->
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let alum of alumnos, index as i">
      {{i+1}} Nombre: {{alum.nombre}} {{alum.apellido}} nota: {{alum.nota}}
    </li>
  </ul><br>

  <hr>
  <h2 class="display-5">DIRECTIVA ngIf</h2>
  <h5>Solo alumnos Repetidores</h5>
  <!--
    Definicion: Dentro de las directivas estructurales, acceder o limitar el contenido del objeto en algun 
    elemento de html. Al trabajar las condiciones(operadores de condicion) podremos asignar en la condicion
    una respuesta a false o true; Así como una condicion de codigo(js,ts) que interactuará con los elementos de
    html.
    En definitiva: mostra elemento en html de acuerdo a una condicion (definida) mostrarla o no
    Sintaxis: *ngIf="variable_de_condicion"
  -->
  <ul class="list-group list-group-flush">
    <ng-container *ngFor="let alum of alumnos">
      <li class="list-group-item" *ngIf="alum.repetidor">
        Nombre: {{alum.nombre}} {{alum.apellido}} nota: {{alum.nota}}
      </li>
    </ng-container>
  </ul>
  <hr>
  <!--
  Ejercicio a: Mostrar los no repetidores
  Ejercicio b: Mostrar todos los alumnos en una tabla
  Ejercicio c: Mostrar solo los aprobados
-->
  <h6>Ejercicio a: Mostrar los no Repetidores</h6>
  <ul class="list-group list-group-flush">
    <ng-container *ngFor="let alum of alumnos">
      <li class="list-group-item" *ngIf="!alum.repetidor">
        Nombre: {{alum.nombre}} {{alum.apellido}} nota: {{alum.nota}}
      </li>
    </ng-container>
  </ul>
  <h6>Ejercicio b: Motrar alumnos en una tabla</h6>
  <table class="table">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Nota</th>
    </tr>
    <tr *ngFor="let alum of alumnos">
      <td>{{alum.nombre}}</td>
      <td>{{alum.apellido}}</td>
      <td>{{alum.nota}}</td>
    </tr>
  </table>
  <h6>Ejercicio c: Mostrar solo Aprobados</h6>
  <ul class="list-group list-group-flush">
    <ng-container *ngFor="let alum of alumnos">
      <li class="list-group-item" *ngIf="alum.nota > 5 ">
        Nombre: {{alum.nombre}} {{alum.apellido}} nota: {{alum.nota}}
      </li>
    </ng-container>
  </ul>
  <hr>
  <h2 class="display-5">DIRECTIVA ngStyle</h2>
  <!--
    Definicion: Basicamente es una directiva de Atributo, asociada a estilos
    refencia al recorrido de los style [] añadiendo condiciones de
    operador logico o aritmetico
    Sintaxis: [ngStyle]="{atributo:valor_elemento asociado a una condicion}"
  -->
  <h6>Verde aprobado y rojo Suspensos</h6>
  <ol class="list-group">
    <li class="list-group-item" *ngFor="let alum of alumnos" 
    [ngStyle]="{color:alum.nota>5 ? '#008800': 'rgb(255,0,0)'}" >
    Nombre: {{alum.nombre}} {{alum.apellido}} nota: {{alum.nota}}
   </li>
  </ol>
  <!--
    Hemos visto arriba como hemos creado una condicion a través del operador ternario
    ? (operador ternario)
    Ha trabajado como un estructura de condicion, atajo a la condicion if
    Sintaxis:
    +[expresion]
    condicion ? expres1 : expres2
    Evalua la condicion, si es true, mostrará la expres1, si false mostrara la expres2
  -->
  <hr>
  <h2 class="display-5">DIRECTIVA ngClass</h2>
  <h6>Cambio estilos en Aprobados y Suspensos</h6>
  <!--
    Definicion: Otra directiva de estilos, absorberá la estructura definda
    en ngStyle; asociada a estilos en cascada(css,scss.....)
    refencia al recorrido de las clases [] añadiendo condiciones de
    operador logico o aritmetico
    Sintaxis:
    [ngClass]="{.clase : valor_elemento asociado a una condicion}"
  -->
  <ol class="list-group">
    <li class="list-group-item" *ngFor="let alum of alumnos" 
    [ngClass]="{verde:alum.nota>5,rojo:alum.nota < 5}" >
    Nombre: {{alum.nombre}} {{alum.apellido}} nota: {{alum.nota}}
   </li>
  </ol>
  <h6>Cambio estilos en Aprobados operador ternario</h6>
  <ol class="list-group">
    <li class="list-group-item" *ngFor="let alum of alumnos" 
    [ngClass]="alum.nota >5 ? 'resaltar': 'rojo'" >
    Nombre: {{alum.nombre}} {{alum.apellido}} nota: {{alum.nota}}
   </li>
  </ol>
  <hr>
  <h2 class="display-5">DIRECTIVA ngSwitch y ngSwitchCase</h2>
  <!--
Definicion ngSwitch, directiva de atributo, especificará la condicion
general que intenta comparar (busqueda de true o false)
Sintaxis:
[ngSwitch]="atributo:valor_elemento asociado a una condicion operadores asociados"
Definicion ngSwitchCase, directiva estructura, especificará en la expresion
que coincida con el valor de la expresion condicionada
*ngSwitchCase="valor_elemento"
  -->
  <h6>Resaltar por valoracion</h6>
  <ol class="list-group list-group-numbered">
    <li class="list-group-item" *ngFor="let alum of alumnos" [ngSwitch]="alum.valoracion">
      <div *ngSwitchCase="'alta'" [ngClass]="{resaltar:alum.valoracion}">
        Nombre: {{alum.nombre}} {{alum.apellido}} nota: {{alum.nota}}
      </div>
      <div *ngSwitchCase="'media'" [ngStyle]="{backgroundColor:'#fa0'}">
        Nombre: {{alum.nombre}} {{alum.apellido}} nota: {{alum.nota}}
      </div>
      <div *ngSwitchCase="'baja'" [ngClass]="{rojo:alum.valoracion}">
        Nombre: {{alum.nombre}} {{alum.apellido}} nota: {{alum.nota}}
      </div>
    </li>

  </ol>
</div>