<div class="container" style=" margin-top: 32px;">

    <div class="card">
      <div class="card-body">
        <h5 class="card-title">¿QUÉ ES ANGULAR?</h5>
        <p class="card-text">* Basicamente hemos comprobado como FrameWork js permite crear
          estas miticas o nuevas Single Page Aplication (Spa´s). <br>
          Usa como estrategia principal la proyeccion de nuestros componentes
          a una sola visualizacion. Haciendolo mas eficiente, rapido y eficaz</p>
        <p class="card-text"><small class="text-muted">Realizado por: <code>A7o</code> </small></p>
  
      </div>
      <img src="" class="card-img-bottom" alt="...">
    </div>
  </div>