
<div class="container" style="margin-top: 84px;" >
    <div class="jumbotron">
    <h1 class="display-4">TEMATICA:{{titulo}} <img src="../../assets/icoAngular.png" alt=""> </h1>
    <p class="lead">SINGLE PAGE APPLICATIONS</p>
    <hr class="my-4"> <img class="bola" src="../../assets/boladelmundo4.png.png" alt="">
    <p>LAS HERRAMIENTAS PRINCIPALES</p>
    <ul>
        <li>Navegador/Browser localhost: 4200</li>
        <li>Editor de codigio: Visual Studio Code (js, ts, css, ...)</li>
        <li>node.js: Motor de librerias de js, accediendo a ellas a traves de los
            recursos de NPM</li>
        <li>Angular Cli, un set de herramientas que configura y facilita la 
            construccion y ejecucion de angular</li>
       <p>app.component.html = NUESTRA PLANTILLA INICIAL DEL COMPONENTE = TEMPLATE</p>
    </ul>
    <div style="float: right;">
        <a class="btn btn-danger btn-lg" href="#" role="button">Aprende más..</a>
    </div>
  </div>
</div>